.botaoContainer {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .botaoCurtir {
    width: 7%;
    background-color: #09e42a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .botaoCurtir:hover {
    background-color: #00b30c;
    transition: background-color 0.3s ease;
  }
  

  @media (max-width: 768px) {
    .botaoCurtir {
      width: 25%;
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 480px) {
    .botaoCurtir {
      width: 50%;
      font-size: 13px;
      padding: 8px 10px;
    }
  }